.modules-list-table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 600px;
}
.modules-list-table td
{
    border: 1px solid gray;
    padding: 5px;
    word-wrap: anywhere;
}

.modules-list-table tr:nth-child(1) {
    font-weight: bold;
    background: lightblue
}

.phpinfo-block table,  .phpinfo-block table .e,  .phpinfo-block table .v,  .phpinfo-block table th
{
    border: 1px solid gray;
    word-wrap: anywhere;
    padding: 5px;
    min-width: 200px;
    border-spacing: 0;
    border-collapse: collapse;
    background: lightgray;
}
.phpinfo-block h1 {margin-top: 30px;}
.phpinfo-block table .h, .phpinfo-block table {width: 100%;}
.phpinfo-block td img {float: right; margin: 5px 10px;}
.phpinfo-block h2, .phpinfo-block h2 a[name]
{
    text-align: center;
    background: #b0bdff;
    margin-top: 25px;
    color: black;
}

.simple-list-table
{
    width: 100%;
    border: 1px solid gray;
    word-wrap: anywhere;
    padding: 5px;
    border-spacing: 0;
    border-collapse: collapse;
}

.simple-list-table td
{
    min-width: 100px;
    padding: 5px;
}

.simple-list-table tr:nth-child(odd)
{
    background: rgba(132, 155, 163, 0.19)
}

.nni_tweaker_hint td
{
    min-width: 100px;
    padding: 5px;
}

.action_button_darkblue
{
    color: #fff;
    border-color: #4d22ac;
    background: linear-gradient(180deg, rgba(240,240,244,1) 0%, #4d22ac 50%);
    background-repeat: no-repeat;
}

.action_button_darkred
{
    color: #fff;
    border-color: #ca0013;
    background: linear-gradient(180deg, rgb(240, 240, 244) 0%, #ca0013 50%);
    background-repeat: no-repeat;
}

.action_button_green
{
    color: #fff;
    border-color: #57de2f;
    background: linear-gradient(180deg, rgb(240, 240, 244) 0%, #2c8f22 50%);
    background-repeat: no-repeat;
}

.action_button_lightblue
{
    color: #fff;
    border-color: #55a5cc;
    background: linear-gradient(180deg,rgba(240,240,244,1) 0%, #55a5cc 50%);
    background-repeat: no-repeat;
}
